name: Deploy Homelab

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Deploy no servidor
        run: |
          cd /home/henrique/apps/finance/testando-github-actions/teste-actions
          git pull
          docker compose down || true
          docker compose up -d --build

